* {
    font-family: BIZ UD明朝;
}

html {
    scroll-behavior: smooth;
}

p {
    font-family: BIZ UD明朝;
    color: #4b5b6a;
    text-align: center;
}

h2 {
    font-family: BIZ UD明朝;
    color: #4b5b6a;
}